<style>
    section {
        margin-bottom: 40px;
    }
    section:last-of-type {
        margin-bottom: 0px; 
    }
    p {
        line-height: 1.2; 
        margin-top: -5px;
        margin-bottom: -10px;
    }
</style>

{% set data_description = lyr_metadata.data_description %}
{% set temporal_scope = lyr_metadata.temporal_scope %}
{% set geographic_scope = lyr_metadata.geographic_scope %}
{% set taxonomic_scope = lyr_metadata.taxonomic_scope %}
{% set methodology = lyr_metadata.methodology %}
{% set citation = lyr_metadata.citation %}

<section>
    <h4>Description</h4>
    <p>{{ data_description.dataset_description|safe }}</p>
    <p><strong>Tags:</strong> <em>{{ data_description.keywords }}</em></p>
</section>

<section>
    <h4>Temporal scope</h4>
    <p>{{ temporal_scope.temporal_description }}</p>
    <p><strong>Aquisition period:</strong> <em>{{ temporal_scope.temporal_scope }}</em></p>
</section>

<section>
    <h4>Geographic scope</h4>
    <p>{{ geographic_scope.location_description }}</p>
    <p><strong>Location:</strong> <em>{{ geographic_scope.country }}, 
        {{ geographic_scope.county_name }}, 
        {{ geographic_scope.municipality_name }} ({{ geographic_scope.municipality_code }})
    </em></p>
</section>

<section>
    <h4>Taxonomic scope</h4>
    <p>{{ taxonomic_scope.taxonomic_description }}</p>
    {% if taxonomic_scope.taxa %}
        <p><strong>Taxa:</strong></p>
        <ul>
            {% for word in taxonomic_scope.taxa.split(';') %}
                <li>{{ word.strip() }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</section>

<section>
    <h4>Methodology</h4>
    <p>{{ methodology.method_description|safe }}</p>
    <ul>
        {% if methodology.doc_url %}
            <li><strong>Documentation webpage:</strong> <a href="{{ methodology.doc_url }}" target="_blank">{{ methodology.doc_string }}</a></li>
        {% endif %}
        {% if methodology.aquisition_method %}
            <li><strong>Acquisition method:</strong> {{ methodology.aquisition_method }}</li>
            <li><strong>Unit:</strong> {{ methodology.unit }}</li>
            <li><strong>Measuring scale:</strong> {{ methodology.measuring_scale }}</li>
            <li><strong>Platform:</strong> {{ methodology.platform }}</li>
            <li><strong>Sensor:</strong> {{ methodology.sensor }}</li>
            <li><strong>Spatial resolution:</strong> {{ methodology.spatial_resolution }}</li>
            <li><strong>Temporal resolution:</strong> {{ methodology.temporal_resolution }}</li>
        {% endif %}
    </ul>
</section>

<section>
    <h4>Data description</h4>
    <ul>
        <li><strong>Project ID:</strong> {{data_description.project_id}}</li>
        <li><strong>Data type:</strong> {{data_description.data_type}}</li>
        <li><strong>File type:</strong> {{data_description.file_type}}</li>
        <li><strong>Dataset name:</strong> {{data_description.dataset_name}}</li>
        <li><strong>Dataset alias:</strong> {{data_description.dataset_alias}}</li>
        <li><strong>Ecosystem accounting category:</strong> {{data_description.category_ecosystem_accounting}}</li>
        <li><strong>License:</strong> {{data_description.license}}</li>
        <li><strong>Data language:</strong> {{data_description.data_language}}</li>
        <li><strong>Metadata language:</strong> {{data_description.metadata_language}}</li>
        <li><strong>Dataset owner:</strong> {{data_description.dataset_owner}}</li>
        <li><strong>Dataset manager:</strong> {{data_description.dataset_manager}}</li>
    </ul>
</section>

<section>
    <h4>Contacts</h4>
    <ul>
        {% for contact in project.contacts %}
        <li>
            <strong>{{ contact.firstName }} {{ contact.lastName }}</strong>
            <ul>
                <li><strong>Role:</strong> {{ contact.contactType }}</li>
                <li><strong>Organisation:</strong> {{ contact.organisationName }}</li>
                <li><strong>Email:</strong> {{ contact.email|urlize }}</li>
                <li><strong>Orcid:</strong> <a href="https://orcid.org/{{ contact.orcid }}" target="_blank" rel="noopener noreferrer">https://orcid.org/{{ contact.orcid }}</a></li>
            </ul>
        </li>
        {% endfor %}
    </ul>
</section>

<section>
    <h4>Citation</h4>
    {% if citation.reference_string %}
        <p><a href="{{ citation.reference_url }}" target="_blank">{{ citation.reference_string }}</a></p>
    {% endif %}
</section>